*{
    font-family: 'PT Sans', sans-serif;
    outline: none;
}
body{
    margin-bottom: 200px;
}

.cont{
    width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}
.error{
    padding-top: 20px;
}
.error span{
    font-size: 16px;
    color: rgb(211, 84, 84);
}




/* header */
header{
    margin-bottom: 200px;
}
h1{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
h2{
    font-weight: 400;
}
h3{
    font-weight: 400;
    margin-bottom: 10px;
}
ol{
    margin-top: 40px;
    padding-left: 18px;
}
ol li{
    padding-left: 20px;
    margin-top: 30px;
}
ol li p{
    color:#757575;
}


/* form */
form {
    position: relative;
    display: flex;
    justify-content: space-between;
}
form input{
    width: 240px;
    padding: 15px 30px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    font-size: 16px;
}
form input[type="submit"]{
    transition: .3s;
    cursor: pointer;
    background: rgb(241, 241, 241);
}
form input[type="submit"]:hover{
    background: rgb(223, 223, 223);
}



/* table */
.users-table{
    position: relative;
    margin-top: 70px;
}
.users-table>div{
    display: flex;
}
.users-table>div>div{
    padding: 15px 30px;
    font-size: 16px;
    width: 25%;
    border-top: 1px solid rgb(207, 207, 207);
    border-left: 1px solid rgb(207, 207, 207);
}
.users-table>div>div:last-child{
    border-right: 1px solid rgb(207, 207, 207);
}
.users-table>div:last-child>div{
    border-bottom: 1px solid rgb(207, 207, 207);
}

.users-table>div:first-child>div:first-child{
    border-radius: 5px 0 0 0;
}
.users-table>div:first-child>div:last-child{
    border-radius: 0 5px 0 0;
}
.users-table>div:last-child>div:first-child{
    border-radius: 0 0 0 5px;
}
.users-table>div:last-child>div:last-child{
    border-radius: 0 0 5px 0;
}

.users-table .head>div{
    background: rgb(241, 241, 241);
}
.users-table>div:not(.head)>div span{
    color:#757575;
}
.users-table .del{
    border: none;
    background: transparent;
    padding: 0;
    color: rgb(211, 84, 84);
    font-size: 16px;
    cursor: pointer;
}